* {
  margin: 0;
  padding: 0;
  color: #e3c099;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background1 {
  background-image: url(/gateway/images/hero-sub.jpg);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
  background-color: #1e1e1e;
}

.background2 {
  background-image: url(/gateway/images/background.png);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-color: #201103;
  background-size: cover;
  background-position: center center;
}

nav {
  background-color: #3d251e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-pic {
  height: 100px;
  width: 100px;
  margin-right: 750px;
  position: relative;
}

nav > h2 {
  font-size: 30px;
  margin-left: 20px;
}

nav > ul {
  list-style: none;
  display: flex;
}

nav > ul > li {
  font-size: 20px;
  padding-left: 20px;
  margin-right: 20px;
}

nav > ul > li > a {
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: #281601;
}

.home {
  text-align: center;
  margin-top: 80px;
  text-size-adjust: auto;
}

.home h1 {
  font-size: 50px;
}

.home p {
  padding: 20px 100px;
  font-size: 30px;
}

button {
  font-size: 30px;
  background: #3d251e;
  border: 3px solid #e3c099;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #281601;
}

form {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #e3c099;
  width: 600px;
  height: 450px;
  border-radius: 80px;
  padding-top: 30px;
}

.contact-title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  padding-bottom: 30px;
  color: #e3c099;
}

.submit {
  color: black;
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 20px;
}

.text {
  color: black;
  width: 500px;
  height: 30px;
  margin: 10px;
}

.subject {
  height: 200px;
  width: 502px;
  color: black;
  margin: 10px;
}

.menu-title {
  text-align: center;
  margin-top: 30px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.container {
  height: 530px;
  width: 300px;
  background-color: #281601;
}

.container:hover {
  transform: scale(1.2);
  transition: 200ms ease-in;
}
.container img {
  width: 100%;
  background-image: url(/gateway/images/brown.jpg);
}

.container h3,
p {
  color: #e3c099;
}

.container button {
  font-size: 10px;
}

footer {
  background-color: #3d251e;
  margin-top: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

footer > ul > li {
  display: inline;
  margin-left: 5px;
}

footer > ul > li > a {
  font-size: 25px;
}

/* media query for monitor */
@media (min-width: 1024px) {
  .nav-pic {
    height: 75px;
    width: 75px;
    margin-right: auto;
    right: 195px;
  }

  .background1 {
    background-size: 1024px 900px;
  }

  .background2 {
    background-repeat: no-repeat;
    background-size: 1024px 1350px;
  }

  footer {
    position: relative;
    top: auto;
  }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-pic {
    height: 75px;
    width: 75px;
    margin-right: auto;
    right: 70px;
  }

  .background1 {
    background-size: 768px 900px;
  }

  .background2 {
    background-repeat: no-repeat;
    background-size: 768px 1350px;
  }

  .menu-items {
    scale: 0.7;
    position: relative;
    bottom: 200px;
  }

  .home {
    scale: 0.7;
    position: relative;
    bottom: 80px;
  }

  form {
    scale: 0.7;
    position: relative;
    bottom: 90px;
  }

  footer {
    position: relative;
    bottom: 380px;
  }
}
/* media query for phone */
@media (min-width: 320px) and (max-width: 767px) {
  nav > ul {
    display: flex;
    flex-direction: column;
  }

  nav > ul > li {
    font-size: 15px;
  }

  .nav-pic {
    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
    top: 20px;
    right: 70px;
  }

  .background1 {
    background-size: 320px 1600px;
  }

  .background2 {
    background-repeat: no-repeat;
    background-size: 320px 3300px;
  }

  .menu-items {
    position: relative;
  }

  .home {
    position: relative;
    bottom: 50px;
  }

  .home > p {
    font-size: 15px;
  }

  form {
    scale: 0.5;
    position: relative;
    width: 600px;
    height: 550px;
    bottom: 90px;
    right: 140px;
  }

  .text,
  .subject {
    width: 400px;
    height: 100px;
  }

  footer {
    position: relative;
    top: 380px;
  }
}
